<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.BoardMapper">

    <!-- 게시글 목록 조회 + 검색 -->
    <select id="selectBoardList" parameterType="map" resultType="board.BoardDTO">
        SELECT
            BOARD_ID    AS boardId
            , TITLE       AS title
            , WRITER_ID   AS writerId
            , IS_SECRET   AS isSecret
            , VIEW_COUNT  AS viewCount
            , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS regDate
        FROM TB_BOARD

        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'content'">
                        CONTENT LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'writer'">
                        WRITER_ID LIKE '%' || #{keyword} || '%'
                    </when>
                    <otherwise>
                        TITLE LIKE '%' || #{keyword} || '%'
                    </otherwise>
                </choose>
            </if>
        </where>

        ORDER BY BOARD_ID DESC
    </select>
    
    <!-- 게시글 상세 조회 -->
	<select id="selectBoardDetail" parameterType="int" resultType="board.BoardDTO">
    	SELECT
        	BOARD_ID    AS boardId
        	, TITLE       AS title
        	, CONTENT     AS content
        	, WRITER_ID   AS writerId
        	, IS_SECRET   AS isSecret
        	, VIEW_COUNT  AS viewCount
        	, TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI') AS regDate
        	, TO_CHAR(UPD_DATE, 'YYYY-MM-DD HH24:MI') AS updDate
    	FROM TB_BOARD
    	WHERE BOARD_ID = #{boardId}
	</select>

	<!-- 조회수 증가 -->
	<update id="updateViewCount" parameterType="int">
	    UPDATE TB_BOARD
	    SET VIEW_COUNT = VIEW_COUNT + 1
	    WHERE BOARD_ID = #{boardId}
	</update>
	
	<!-- 첨부파일 목록 조회 -->
		<select id="selectFileList" parameterType="int" resultType="board.BoardFileDTO">
    	SELECT
        	FILE_ID     AS fileId
        	, BOARD_ID    AS boardId
        	, ORIGIN_NAME AS originName
        	, FILE_SIZE   AS fileSize
    	FROM TB_BOARD_FILE
    	WHERE BOARD_ID = #{boardId}
    	ORDER BY FILE_ID ASC
	</select>

	<!-- 게시글 번호 생성 -->
	<select id="selectNextBoardId" resultType="int">
    	SELECT SEQ_TB_BOARD.NEXTVAL FROM DUAL
	</select>

	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="board.BoardDTO">
    	INSERT INTO TB_BOARD
    	(
        	BOARD_ID
        	, TITLE
        	, CONTENT
        	, WRITER_ID
        	, IS_SECRET
    	)
    	VALUES
    	(
        	#{boardId}
        	, #{title}
        	, #{content}
        	, #{writerId}
        	, #{isSecret}
    	)
	</insert>

	<!-- 첨부파일 저장 -->
	<insert id="insertBoardFile" parameterType="board.BoardFileDTO">
    	INSERT INTO TB_BOARD_FILE
    	(
        	FILE_ID
        	, BOARD_ID
        	, ORIGIN_NAME
        	, SAVE_NAME
        	, SAVE_PATH
        	, FILE_SIZE
        	, FILE_EXT
    	)
    	VALUES
    	(
        	SEQ_TB_BOARD_FILE.NEXTVAL,
        	#{boardId}
        	, #{originName}
        	, #{saveName}
        	, #{savePath}
        	, #{fileSize}
        	, #{fileExt}
    	)
	</insert>

	<!-- 파일 1개 조회 -->
	<select id="selectFileDetail" parameterType="int" resultType="board.BoardFileDTO">
    	SELECT
        	FILE_ID AS fileId
        	, BOARD_ID AS boardId
        	, ORIGIN_NAME AS originName
        	, SAVE_NAME AS saveName
        	, SAVE_PATH AS savePath
        	, FILE_SIZE AS fileSize
        	, FILE_EXT AS fileExt
    	FROM TB_BOARD_FILE
    	WHERE FILE_ID = #{fileId}
	</select>

	<!-- 작성자 확인용 파일 조회 -->
	<select id="selectFileDetailForWriter" parameterType="map" resultType="board.BoardFileDTO">
    	SELECT
        	BF.FILE_ID AS fileId
        	, BF.BOARD_ID AS boardId
        	, BF.ORIGIN_NAME AS originName
        	, BF.SAVE_NAME AS saveName
        	, BF.SAVE_PATH AS savePath
        	, BF.FILE_SIZE AS fileSize
        	, BF.FILE_EXT AS fileExt
    	FROM TB_BOARD_FILE BF
    	JOIN TB_BOARD B ON BF.BOARD_ID = B.BOARD_ID
    	WHERE BF.FILE_ID = #{fileId}
      	AND BF.BOARD_ID = #{boardId}
      	AND B.WRITER_ID = #{writerId}
	</select>

	<!-- 파일 1개 DB 삭제 -->
	<delete id="deleteFile" parameterType="map">
    	DELETE FROM TB_BOARD_FILE
    	WHERE FILE_ID = #{fileId}
    	  	AND BOARD_ID = #{boardId}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="board.BoardDTO">
    	UPDATE TB_BOARD
    	SET
        	TITLE = #{title}
        	, CONTENT = #{content}
        	, IS_SECRET = #{isSecret}
        	, UPD_DATE = SYSDATE
    	WHERE BOARD_ID = #{boardId}
      	AND WRITER_ID = #{writerId}
	</update>

	<!-- 게시글 삭제 전 댓글 삭제 -->
	<delete id="deleteCommentByBoardId" parameterType="int">
    	DELETE FROM TB_COMMENT
    	WHERE BOARD_ID = #{boardId}
	</delete>

	<!-- 게시글 삭제 전 첨부파일 DB 삭제 -->
	<delete id="deleteFileByBoardId" parameterType="int">
	    DELETE FROM TB_BOARD_FILE
	    WHERE BOARD_ID = #{boardId}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="map">
	    DELETE FROM TB_BOARD
	    WHERE BOARD_ID = #{boardId}
	      AND WRITER_ID = #{writerId}
	</delete>

	<!-- 댓글 조회 -->
	<select id="selectCommentList" parameterType="int" resultType="board.CommentDTO">
	    SELECT
	        COMMENT_ID  AS commentId
	        , BOARD_ID    AS boardId
	        , CONTENT     AS content
	        , WRITER_ID   AS writerId
	        , TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI') AS regDate
	    FROM TB_COMMENT
	    WHERE BOARD_ID = #{boardId}
	    ORDER BY COMMENT_ID ASC
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="board.CommentDTO">
	    INSERT INTO TB_COMMENT
	    (
	        COMMENT_ID
	        , BOARD_ID
	        , CONTENT
	        , WRITER_ID
	    )
	    VALUES
	    (
	        SEQ_TB_COMMENT.NEXTVAL
	        , #{boardId}
	        , #{content}
	        , #{writerId}
	    )
	</insert>

	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="board.CommentDTO">
	    UPDATE TB_COMMENT
	    SET
	        CONTENT = #{content}
	    WHERE COMMENT_ID = #{commentId}
	      AND BOARD_ID = #{boardId}
	      AND WRITER_ID = #{writerId}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="board.CommentDTO">
	    DELETE FROM TB_COMMENT
	    WHERE COMMENT_ID = #{commentId}
	      AND BOARD_ID = #{boardId}
	      AND WRITER_ID = #{writerId}
	</delete>

</mapper>